.entry {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 550px;
    padding: 20px;
    column-gap: 30px;
}

h2 {
    font-size: 20pt;
    margin-top: 10px;
}

p, .entry--period {
    font-size: 10pt;
}

p {
    margin-top: 8px;
}

.entry--img {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    object-fit: cover;
}

.entry--country {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 10pt;
    font-weight: 400;
}

.entry--country > h4 {
    font-weight: 400;
    margin-right: 20px;
}

.red {
    color: #f55a5a;
}

.entry--period {
    margin-top: 20px;
}

.divider {
    max-width: 550px;
    margin: 0 auto;
    border-bottom: 1px rgb(194, 194, 194) solid;
    border-radius: 10px;
}

a {
    color: rgb(177, 177, 177);
}

